.container {
  display: flex;
}
/* Making a inner board of 200px x 400px with 20x20 squares */
/* Adding extra for the out-of-bounds sections */
.container-grid {
  width: 240px;
  height: 420px;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: grey;
}

.container-board {
  /* Verbose */
  /* grid-column-start: 2; */
  /* grid-column-end: 12; */
  /* grid-row-start: 1; */
  /* grid-row-end: 21; */
  /* Shorthand */
  /* grid-column: 2 / 12; */
  /* grid-row: 1 / 21; */
  /* Even better row-start / col-start / row-end / col-end */
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: lightseagreen;
}

.oob {
  background-color: red;
}

.left-oob {
  grid-area: 1 / 1 / 2 / 2;
}

.right-oob {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.bottom-oob {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.square {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: blue;
}

/* up-next Grid for Next Up Tetromino */
.container-up-next-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 80px;
  width: 80px;
  margin-left: 2em;
  background-color: orange;
}

.up-next-square {
  width: 20px;
  height: 20px;
}
